gmail_workflow.json
{
  "name": "gmail workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cd5fb8f0-f448-4be9-83d1-9247d56db4b3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "iak8RvXGR17YyWKO",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "70f33032-f4fa-43e7-95f8-c0a13e69cd36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "5a112fed-a049-493f-ab07-be50ee818bd5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mLpEdi9TFPxFkm8n",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "virajitha38@gmail.com",
        "subject": "agentic ai",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "1b0820c2-c23f-463c-96e8-da79deeee7c6",
      "name": "Send a message",
      "webhookId": "ee1795b3-9f76-4066-b3d7-dc386c9679ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "iak8RvXGR17YyWKO",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ae16dc5-72c4-4b5b-af13-320922121a35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c69faff3fecce55e1158143d253e3fb1c6c98bcaa6d6de73c0775c87c8ff51b6"
  },
  "id": "oPsaOIF9EAvOz81J",
  "tags": []
}